*{
 padding: 0;
 margin: 0;  
 box-sizing: border-box; 
}
body{
    background: #eaf1f7;
    max-width: 100%;
}
a{
    text-decoration: none;
}
.header-section{
    background-color: rgb(222, 238, 247);
}
.header-section img{
    max-width: 100%;   
}
.firstcol{
     padding: 50px 15px;  
}
.firstcol h1{
    font-size: 70px;
    font-weight: bold;
}
.Teeth{
background: #ffff;
/* border: 1px solid white; */
border-radius: 50px;
padding: 15px;
}
.Teeth i{
    color: #1dbfcc;
}

.color{
    color: #1dbfcc;
}

.color1{
    color: #002345;
}
.appointment{
    border: 1px solid white;
    background: #1dbfcc;
    padding: 13px 33px;
    /* margin-top: 40px; */
}
.appointment a{
    color: white;
    text-decoration: none;
}
.Dentist{
    border: 1px solid white;
    background: #002345;
    padding: 13px 24px;
}
.Dentist a{
    color: white;
    text-decoration: none;
}
/* header close */
/* main sectio open */
.main-section{
    /* padding: 90px 24px; */
    margin: 60px 0px;
}
.row1{
    padding: 25px 0px;
}
.Certified{
    background-color: #5EA89C;
    color: white;
    padding: 39px 32px;
    transition: all .5s;
}
.Certified p{
    padding: 15px 5px;
    line-height: 10px;
}
.Technology{
    background-color: #E86548;
    color: #ffff;
    padding: 39px 32px;
}
.Technology p{
    padding: 15px 5px;
    line-height: 10px;
}
.Insurance{
    background-color: #456483;
    color: #ffff;
    padding: 43px 32px;
}
.Insurance p{
    padding: 15px 5px;
    line-height: 10px;
}
.title{
    /* padding: 29px 10px; */
}
.main-section p{
  line-height: 20px;
}

.Certified a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    padding: 30px 3px;
}
.Technology a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
}
.Insurance a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
}
.Certified:hover{
   background-color: #0bf7cf;
   transition: var(--transition);
   position: relative;
   z-index: 1;
   transform: translateY(-5px);
}
.Technology:hover{
    background-color: #0bf7cf;
    color: #ffff;
    transition: var(--transition);
    position: relative;
    z-index: 1;
    transform: translateY(-5px);
 }
 .Insurance:hover{
    background-color: #0bf7cf;
    transition: var(--transition);
    position: relative;
    z-index: 1;
    transform: translateY(-5px);
 }
/* main sectio close */
/* section one open */
.section-title-warp{

}

.section-title-warp span{
    border: 1px solid #5EA89C ;
    color: #1dbfcc;
    padding: 11px 20px;
    border-radius: 2rem;

}
.section-title-warp h2{
  padding-top: 30px;
  font-size: 40px;
}
.section-title-warp b{
   font-size: 40px;
}
.section-warp-btn{
    padding-top: 88px;
}
.section-warp-btn a{
text-decoration: none;
float: right;
border: 1px solid #1dbfcc;
color: white;
background-color: #1dbfcc;
padding: 20px 50px;
}
/* section one close */
/* section two open */
/* .section-two{
    margin: 50px 0px;
    padding: 50px;
} */
.section-two img{
    max-width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 1rem;
}
.lady-doctor{
    margin: 10px;
    padding: 20px 10px 40px 10px;
    background: #ffff;
}

.male-doctor{
    margin: 10px;
    padding: 20px 10px 40px 10px;
    background: #ffff;
}
.patient{
    margin: 10px;
    padding: 20px 10px 40px 10px;
    background: #ffff;
}
.section-two a{
    border: 1px solid #1dbfcc;
    border-radius: 2rem;
    background: #1dbfcc;
    padding: 12px 50px;
    color: #ffff;
    margin: 50px;
}
/* section two close */
/* section three open*/
.section-three{
margin-top: 60px;
background-image: url('./img/bg-banner.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment:fixed;
background-position: center center;
padding-top: 120px;
padding-bottom: 120px;
}
.section-three h4{
    font-weight: bold;
    font-size: 30px;
    padding: 0px 22px;
}
.section-three input{
    padding: 11px 156px 12px 19px;
   margin: 10px 0px 5px 0px;
}
.form{
    background-color: #ffff;
    padding: 30px 12px;
}
form{
    padding-bottom: 30px;
}
.form a{
    border: 1px solid#1dbfcc;
    background: #1dbfcc;
    color: #ffff;
    padding: 14px 40px;
    margin: 8px 24px 10px 2px;
    position: relative;
    top: 30px;

}

/* section three close */
/* section four open */
.section-four{
max-width: 100%;
padding: 50px;
}
.span span{
    border: 1px solid #ffff;
    background: #ffff;
    padding: 10px 14px;
    border-radius: 3rem;
}
.span i {
    color: rgb(77, 238, 77);
    padding: 7px 5px;
}
.fourth-sec h3{
    padding: 15px 0px;
    font-size: 35px;
}
.precision{
    color: #1dbfcc;
    font-size: 35px;
}
.fourth-sec ul li{
    padding: 10px;
    list-style-type: none;
}
.fourth-sec ul li i{
    border: 1px solid #ffff;
    background: #1dbfcc;
    border-radius: 3rem;
    padding: 6px;
    color: #ffff;
}
.fourth-sec img{
    width: 20%;
    height: auto;
    border: 1px solid #ffff;
    border-radius: 4rem;
    background-color: #ffff;
    margin: 20px;
}
.fourth-sec h4{
   font-size: 25px;
    margin: 11px;
}
.section-four .user i{
    font-size: 40px;
    padding: 13px 14px;
    border: 1px solid #fff;
    background: #ffff;
    border-radius: 100px;
}
.section-four .user i:hover{
    background-color: #1dbfcc;
}
/* section four close */
/* section five open */

.patient3 .content{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    -webkit-transition: var(--transition);
    transition: var(--transition); */
    /* z-index: 5; */
}

.section-five{
    max-width: 100%;
}
.bg-img1{
    background: url(./img/patient3.jpg);
}

.bg-img2{
    background: url(./img/patient2.jpg);
}

.bg-img3{
    background: url(./img/patient1.jpg);
}

.cases {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 130px 20px;
    border-radius: 10px;
    background-position: center center;
    position: relative;
}


.cases::before{
    content: '';
    /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    width: 100%;
    height: 95%;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
    border-radius: 10px;
}

.cases-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 5;
}
.cases-text h4,
.cases-text p {
    color: #fff;
    z-index: 99999;
}

.cases-text h4{
    font-size: 25px;
}

.cases-text i {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #1dbfcc;
    color: #fff;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
}

/* .bgimage1{
    background: url(./img/patient3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 1rem;
}
.bgimage2{
    background: url(./img/patient2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 1rem;
}
.bgimage3{
    background: url(./img/patient1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 1rem;
} */

/* section five close */
/* section six open */
/* .section-six{
    padding-top: 20px;  
}

.section-six button{
    float: right;
    background: #1dbfcc;
    padding: 18px 40px;
    margin: 4px 0px;
    border: 1px solid #1dbfcc;
    border-radius: 1rem;
    color: #ffff;
}
.doctor1{
    margin: 40px;
}
.doctor1 img{
    width: 100%;
    height: auto;
} */
.section-six {
    padding: 50px 15px;
}
.section-six .abc button{
    float: right;
    padding: 0px 48px;
    margin: 99px 0px 11px 576px;
    background: #1dbfcc;
    border: 1px solid #1dbfcc;
    border-radius: 2px;
    color: #ffff;
}
.doctor1{
    box-shadow: 0px 15px 35px rgb(0 0 0 / 10%);
    background-color: #fff; 
}
.section-six a i{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    border-radius: 3rem;
    background: #1dbfcc;
    color: #fff;
}


/* section six close */
/* section seven open */


.section-seven button{
    float: right;
    background: #1dbfcc;
    padding: 18px 40px;
    margin: -70px -30px;
    border: 1px solid #1dbfcc;
    border-radius: 5px;
    color: #ffff;
}
.card-body{
    padding: 20px;
}
.card-body i{
    color: #1dbfcc;
    font-size: 60px;
    
 
}
.card-body img{
    display: inline-block;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    /* position: absolute; */
    left: 0;
    top: 0;
}
.card-body h4{
    padding: 10px;
    font-size: 20px;
}
.card-body p{
    padding-left: 10px;   
}
.card :hover{
    background: #1dbfcc;
    color: #ffff;
}
/* section seven close */
/* section eight open */
/* .section-eight{
    background: #ffff;
    padding: 20px;
    margin: 20px 0px;
}

.section-eight button{
    float: right;
    background: #1dbfcc;
    padding: 18px 40px;
    margin: -70px -30px;
    border: 1px solid #1dbfcc;
    border-radius: 5px;
    color: #ffff;
}
.section-eight .column{
   width: 18rem; */
/* }
.section-eight img{
    width: 20rem;
} */ 



.section-eight{
    padding: 50px 15px;
    background: #fff;
}
.section-eight .blogs span{
color: #1dbfcc;
background: #fff;
border: 1px solid #1dbfcc;
border-radius: 22px;
padding: 8px 20px;
}
.section-eight .blogs h2{
    padding: 22px 0px;
    font-size: 38px;
}
.section-eight .section-warp-btn a{
    padding: 18px 60px;
}

.article{
    box-shadow: 0px 15px 35px rgb(0 0 0 / 10%);
    background-color: #fff;
}
.article-img img{
    width: 100%;
    height: 25vw;
    object-fit: cover;}

.article-body{
    padding: 20px;
}
.article-footer{
    padding: 20px 10px;
    border-top: 1px solid #eeeeee;
    margin: 15px;

}






/* section eight close */
/* section nine open */
.section-nine{
    background-color: #002345;
    padding: 20px;
}

.section-nine h3{
    color: #1dbfcc;
    padding: 40px 0px;
}
.section-nine ul li{
    color: #ffff;
    padding: 10px 0px;
    list-style-type: none;
}
.share-link a{
    background-color: #ffff;
    border: 1px solid #ffff;
    border-radius: 5rem;
    font-size: 20px;
    padding: 6px;
    margin-left: 14px;
}
.section-nine form input{
    padding: 15px 20px;
    margin-left: 24px;
}
.section-nine form i{
    padding: 19px 1px;
    background: #1dbfcc;
    color: #ffff;
}
.section-nine button{
    padding: 0px 39px;
    margin: -58px -29px;
}
/* section nine close */
