*{
 padding: 0;
 margin: 0;  
 box-sizing: border-box; 
}
body{
    background: #eaf1f7;
    max-width: 100%;
}
a{
    text-decoration: none;
}
.header-section{
    background-color: rgb(222, 238, 247);
}
.header-section img{
    max-width: 100%;   
}
.firstcol{
     padding: 50px 15px;  
}
.firstcol h1{
    font-size: 70px;
    font-weight: bold;
}
.Teeth{
background: #ffff;
/* border: 1px solid white; */
border-radius: 50px;
padding: 15px;
}
.Teeth i{
    color: #1dbfcc;
}

.color{
    color: #1dbfcc;
}

.color1{
    color: #002345;
}
.appointment{
    border: 1px solid white;
    background: #1dbfcc;
    padding: 13px 33px;
    /* margin-top: 40px; */
}
.appointment a{
    color: white;
    text-decoration: none;
}
.Dentist{
    border: 1px solid white;
    background: #002345;
    padding: 13px 24px;
}
.Dentist a{
    color: white;
    text-decoration: none;
}
/* header close */
/* main sectio open */
.main-section{
    padding: 90px 24px;
}
.Certified{
    background-color: #5EA89C;
    color: white;
}
.Technology{
    background-color: #E86548;
    color: #ffff;
}
.Insurance{
    background-color: #456483;
    color: #ffff;
}
.title{
    /* padding: 29px 10px; */
}
.main-section p{
  line-height: 20px;
}

/* 
.Technology title{
    padding: 29px 19px;
}
.Insurance title{
    padding: 29px 19px;
} */
.Certified a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    /* padding: 25px 20px; */
}
.Technology a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    /* padding: 25px 20px; */
}
.Insurance a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    /* padding: 25px 20px; */
}
.Certified:hover{
   background-color: #0bf7cf;
   transition: var(--transition);
   position: relative;
   z-index: 1;
   overflow: hidden;
}
.Technology:hover{
    background-color: #0bf7cf;;
 }
 .Insurance:hover{
    background-color: #0bf7cf;
 }
/* main sectio close */
/* section one open */
.section-title-warp{

}

.section-title-warp span{
    border: 1px solid #5EA89C ;
    color: #1dbfcc;
    padding: 11px 20px;
    border-radius: 2rem;

}
.section-title-warp h2{
  padding-top: 30px;
  font-size: 40px;
}
.section-title-warp b{
   font-size: 40px;
}
.section-warp-btn{
    padding-top: 88px;
}
.section-warp-btn a{
text-decoration: none;
float: right;
border: 1px solid #1dbfcc;
color: white;
background-color: #1dbfcc;
padding: 20px 50px;
}
/* section one close */
/* section two open */
/* .section-two{
    margin: 50px 0px;
    padding: 50px;
} */
.section-two img{
    max-width: 110%;
    height: auto;
    border: 1px solid white;
    border-radius: 1rem;
}
.lady-doctor{
    margin: 10px;
    padding: 20px;
    background: #ffff;
}

.male-doctor{
    margin: 10px;
    padding: 20px;
    background: #ffff;
}
.patient{
    margin: 10px;
    padding: 20px;
    background: #ffff;
}
.section-two a{
    border: 1px solid #1dbfcc;
    border-radius: 2rem;
    background: #1dbfcc;
    padding: 12px 50px;
    color: #ffff;
    margin: 50px;
}
/* section two close */
/* section three open*/
.section-three{
margin-top: 60px;
background-image: url('./img/bg-banner.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment:fixed;
background-position: center center;
padding-top: 120px;
padding-bottom: 120px;
}
.section-three h4{
    font-weight: bold;
    font-size: 30px;
}
.section-three input{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 200px;
    margin: 20px;
}
.form{
    background-color: #ffff;
    padding: 40px 15px;
}
.form a{
    border: 1px solid#1dbfcc;
    background: #1dbfcc;
    color: #ffff;
    padding: 14px 40px;
    margin: 23px;

}

/* section three close */
/* section four open */
.section-four{
max-width: 100%;
padding: 50px;
}
.span span{
    border: 1px solid #ffff;
    background: #ffff;
    padding: 10px 14px;
    border-radius: 3rem;
}
.span i {
    color: rgb(77, 238, 77);
    padding: 7px 5px;
}
.fourth-sec h3{
    padding: 15px 0px;
    font-size: 35px;
}
.precision{
    color: #1dbfcc;
    font-size: 35px;
}
.fourth-sec ul li{
    padding: 10px;
    list-style-type: none;
}
.fourth-sec ul li i{
    border: 1px solid #ffff;
    background: #1dbfcc;
    border-radius: 3rem;
    padding: 6px;
}
.fourth-sec img{
    width: 20%;
    height: auto;
    border: 1px solid #ffff;
    border-radius: 4rem;
    background-color: #ffff;
    margin: 20px;
}
.fourth-sec h4{
   font-size: 30px;
    margin: 20px;
}
/* section four close */
/* section five open */

.patient3 .content{
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    -webkit-transition: var(--transition);
    transition: var(--transition); */
    /* z-index: 5; */
}

.section-five{
    max-width: 100%;
}
.bgimage1{
    background: url(./img/patient3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 1rem;
}
.bgimage2{
    background: url(./img/patient2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 1rem;
}
.bgimage3{
    background: url(./img/patient1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 1rem;
}

/* section five close */
/* section six open */
.section-six{
    padding-top: 20px;  
}

.section-six button{
    float: right;
    background: #1dbfcc;
    padding: 18px 40px;
    margin: 4px 0px;
    border: 1px solid #1dbfcc;
    border-radius: 1rem;
    color: #ffff;
}
.doctor1{
    margin: 40px;
}
.doctor1 img{
    width: 100%;
    height: auto;
}
/* section six close */
/* section seven open */


.section-seven button{
    float: right;
    background: #1dbfcc;
    padding: 18px 40px;
    margin: -70px -30px;
    border: 1px solid #1dbfcc;
    border-radius: 5px;
    color: #ffff;
}
.card-body{
    padding: 20px;
}
.card-body i{
    color: #1dbfcc;
    font-size: 60px;
    
 
}
.card-body img{
    display: inline-block;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    /* position: absolute; */
    left: 0;
    top: 0;
}
.card-body h4{
    padding: 10px;
    font-size: 20px;
}
.card-body p{
    padding-left: 10px;   
}
.card :hover{
    background: #1dbfcc;
    color: #ffff;
}
/* section seven close */
/* section eight open */
.section-eight{
    background: #ffff;
    padding: 20px;
    margin: 20px 0px;
}

.section-eight button{
    float: right;
    background: #1dbfcc;
    padding: 18px 40px;
    margin: -70px -30px;
    border: 1px solid #1dbfcc;
    border-radius: 5px;
    color: #ffff;
}
.section-eight .column{
    /* width: 18rem; */
}
.section-eight img{
    width: 20rem;
}
/* section eight close */
/* section nine open */
.section-nine{
    background-color: #002345;
    padding: 20px;
}

.section-nine h3{
    color: #1dbfcc;
    padding: 40px 0px;
}
.section-nine ul li{
    color: #ffff;
    padding: 10px 0px;
    list-style-type: none;
}
.share-link a{
    background-color: #ffff;
    border: 1px solid #ffff;
    border-radius: 4rem;
    font-size: 15px;
    padding: 8px;
    margin-left: 14px;
}
.section-nine form input{
    padding: 15px 20px;
    margin-left: 24px;
}
.section-nine form i{
    padding: 19px 1px;
    background: #1dbfcc;
    color: #ffff;
    
}
/* section nine close */
